<!
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PACyD</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TPFinalCe.styles.css" asp-append-version="true" />

    <link href="~/css/estilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="logo" src="~/images/logo/Logo.jpg" alt="Alternate Text" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Socios" asp-action="PublicIndex">Lista Socios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Disciplinas" asp-action="PublicIndex">Lista Disciplinas</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Socios" asp-action="Index">Socios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Disciplinas" asp-action="Index">Disciplinas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cuotas" asp-action="Index">Cuotas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Beneficios" asp-action="Index">Beneficios</a>
                            </li>
                        }
                    </ul>
                    <div class="d-flex align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="me-2 welcome-text">Bienvenido, @User.Identity.Name</span>
                            <button id="logout-btn" class="btn logout-btn custom-logout-btn">Logout</button>
                            <input type="hidden" id="anti-forgery-token" name="__RequestVerificationToken" value="@Html.AntiForgeryToken().ToString()" />
                        }
                        else
                        {
                            <a class="btn login-btn" href="@Url.Action("Login", "Account")">Login</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TPFinalCe
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const logoutBtn = document.getElementById('logout-btn');
        if (logoutBtn) {
            logoutBtn.addEventListener('click', function () {
                const token = document.getElementById('anti-forgery-token').value;
                fetch('@Url.Action("Logout", "Account")', {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': token
                    }
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        } else {
                            alert('Error al cerrar sesión.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        }
    </script>
</body>
</html>
